
.atlanta_image {
  background-image: url('https://image.ibb.co/d72nHk/ATL_copy.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}

.brand-logo {
  margin-left: 10px;
  margin-right: 10px;
}

.city_image {
  height: 200px;
}

.post_image {
  height: 200px;
}

.post_show_container {
  display: flex;
}


.post_show_image_container {
  display: flex;
  flex-direction: column;
}

.post_show_photo {
  height: 200px;
}

.form {
  margin: 15px;
}
