
.city_hero_image {
  background-image: url('http://i.imgur.com/WwnFRvM.jpg?2');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}

.brand-logo {
  margin-left: 10px;
  margin-right: 10px;
}

.home_atlanta_link {
  font-size: 60px;
}

/*.city_show_image {
  background-image: url('http://i.imgur.com/WwnFRvM.jpg?2');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 400px;
}*/

.post_image {
  height: 200px;
}

.post_show_container {
  display: flex;
}


.post_show_image_container {
  display: flex;
  flex-direction: column;
}

.post_show_photo {
  height: 200px;
}

.form {
  margin: 15px;
}
